$navColor: deepskyblue;
#basicDiv{
    width:1000px;
    min-height: 800px;
    margin:auto;
    background-color: aliceblue;
}

nav{
    height: 50px;
    background-color: $navColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .navLabel{
    color:white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: x-large;
    line-height: 48px;
    padding: 0 5px;

}

nav a{
    color:white;
    padding: 0 5px;
}

.colorSpan{
    background-color: green;
    width:35px;
    height:35px;
}

.searchDiv{
    width:400px;
    margin:auto;
    padding:30px;
    display: flex;
}

#searchInput{
    width:200px;
    margin: auto 5px;

}

.staffTable{
    width:600px;
    margin:auto;
    border:1px solid gray;
}

.staffTable thead tr{
    background-color: deepskyblue;
    color: white;
    line-height: 30px;
}

.staffTable tbody tr td{
    text-align: center;
}

.addLink{
    width: 120px;
    margin: 20px auto;
    display: block;
}

.formInput{
    display: block;
    margin: 10px auto;
    min-width: 260px;
    line-height: 26px;
}

.addForm{
    width:260px;
    margin: 50px auto;
}

h2{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}